
body{
    background-color:black;
   font-family: 'Noto Sans KR', sans-serif;
}

p{font-family: 'Noto Sans KR', sans-serif;
color: white;}

.frame{
    margin: 0 300px;
    display: flex;
    flex-direction: column;
    }
/*nav*/

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

li{
    display: inline;
    align-self: center;
    margin: 0;
    margin-left: 15px;
}
ul{
    margin: 0;
    padding: 0;
}
.site-name{
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    font-style: bold;
}
.nav-menu{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 200;
    font-size: 20px;
    font-style: bold;
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    color:white;
    transition: 0.3;
}

/*dashboard*/
.dashboard{
    display: flex;
    flex-direction: column;
    margin-top: 100px;

}
.korean-coment{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: white;
}

.english-coment{
    font-family: 'Noto Sans KR', sans-serif;
font-weight: 200;
font-size: 15px;
font-style: italic;
color: white;
    }

}
/*recentworks*/
.recent-menu{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:700;
    font-size: 50px;
    color:white;
    font-style: bold;
    text-align: left;
    margin-top: 50px;

}


/*recent works*/

.recent-works{
    display: flex;
    flex-direction: column;


}
.article{
    display:flex;
    flex-direction: row;
    margin-bottom: 120px;
    align-items: center;
}
.thumbnail{
    width: 600px;
}
.article-info{
    margin:0px 30px
}
.article-name{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 40px;
    margin-top: 0px;
    color: white;
    }

.article-comment{
    font-family: 'Noto Sans KR', sans-serif;
    font-size:15px;
    color: white;
}
.more{
    width:content;
    height:content;
    float:right;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: transparent;
    border:0px;
    margin-right: 15px;
}
/*      #name1{
position: relative;
right:70px
}
#name2{
    text-align: right;
position: relative;
left:70px
}*/
.magazine{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: auto;
       }
.magazine-info{
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
}

/*outpage*/
.outpagephoto{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 100px;
}
.outpagephoto1{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 100px;
}

.outpage-info{
    text-align: center;
}
.outpagephoto img{
width:300px;
}
.outpagephoto1 img{
    width:300px;
    }
.outpagephoto2{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 100px;
    width: auto;
  
}
.outpagephoto2 img {
    width: 600px;
}

.outpagephoto3{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 100px;
    width: auto;
}
.outpagephoto3 img{
    width: 600px;
}

/*pastworks*/
.past p{
    text-align: center;
}
.pastworks{
    font-size: 30px;
    text-align: center;
    color:black;
}
.movie1{
    max-width: 80%;
    display: block;
    margin-left: 300px;
    margin-top: 100px;
}
/*이메일 보내기
.contactme{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}*/
/*footer*/
.footer{
    display: flex;
    flex-direction: column;
   align-items: center;
   margin-bottom: 200px;
 
   }
.contact{
       font-family: 'Noto Sans KR', sans-serif;
       font-weight: 700;
       font-size: 50px;
       color:black ;
       border-bottom: 2px solid black;
       margin-bottom: 10px;
   }
   
   .links>a{
       font-family: 'Noto Sans KR', sans-serif;
       color:black;
       font-size: 30px;
       font-weight: 400;
   }
   
   .links>a:hover{
       color:red;

       /*info*/
   }
   .profile{
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: flex-start;
       margin: 100px 100px;
   }
   #profile-photo{
   width: 400px;
   margin-right: 60px;
   border: 1px solid black;
   }
   .pro-info{
    text-align: center;
   }
   .about>h2{
       margin: 0;
       font-family: 'Noto Sans KR', sans-serif;
       font-size: 35px;
       color: white;
       text-align: center;
   }
   #tools{  
    text-align: center;
   }

   @media screen and (max-width: 768px) {
    .frame{ margin: 20px; }
    .nav{ display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 20px;  
    align-items: center; }
        li{
            display: inline;
            align-self: center;
            margin: 0;
            margin-left:0px;
        }
        .korean-coment{
            font-family: 'Noto Sans KR', sans-serif;
            font-weight:700;
            font-size: 20px;
        }
        .thumbnail{
            width: 200px;
        }
        .article-name{
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 20px;
            margin-top: 0px;
            }
}
/*모바일*/
@media screen and (max-width: 480px){

    .frame{ margin: 20px; }
    .nav{ display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 0;   
    align-items: center;}
        li{
            display: inline;
            align-self: center;
            margin: 0;
            margin-left:0px;
        }
        .korean-coment{
            font-family: 'Noto Sans KR', sans-serif;
            font-weight:700;
            font-size: 20px;
        }
        .thumbnail{
            width: 200px;
        }
        .article-name{
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 20px;
            margin-top: 0px;}

            .profile{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                margin: 0;
                margin-top: 20px;
                align-items: center;
            
            }
            #profile-photo{
                width: 200px;
               border: 1px solid black;
                }
            
.about>h2{
     margin: 0;
     margin-top: 100px;
     font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
 }
 p{font-size: 12px;}
 #tools{flex-direction: row; }
.contact{font-size: 20px;}

/***magazine*/

.magazine{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        width: 400px;
       
           }
.magazine-info{
        font-family: 'Noto Sans KR', sans-serif;
        text-align: center;
    }
   /*past*/ 
.past p{
        text-align: center;
    }
.pastworks{
        font-size: 30px;
        text-align: center;
        color:black;
}
    /*outpage*/
  .outpagephoto img{
        width:200px;
        margin: 0;
}
 .outpagephoto1 img{
     width:200px;
     margin: 0;
} 
 .outpagephoto2 img{
     width:200px;
     margin: 0;
 }
 .outpagephoto3 img{
    width:200px;
    margin: 0;
 }
   .outpage-info
   {
   text-align: center;
   margin: 0;
    }
    }
